@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    transition: all 0.111s ease-in-out;
    scroll-behavior: smooth;
    scrollbar-color: rgba(63, 85, 119, 0.473) rgba(41, 49, 82, 0.062);
    scrollbar-width: thin;
}

html{
background-color: #262626;
overflow-x: hidden
}

body {
    background-color: rgb(50, 60, 78);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.text-shadow {
    text-shadow: 0.1rem 0.1rem 0.3rem black;
}

.white-shadow{
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.411);
}

li {
    align-items: center;
    display: flex;
}

.custom-button {
    background: linear-gradient(2.65deg, #26262b -24.3%, #1d1d1f 154.24%);
    box-shadow: -18px -11px 8px rgba(0, 0, 0, .04), -10px -6px 7px rgba(0, 0, 0, .13), -4px -3px 5px rgba(0, 0, 0, .21), -1px -1px 3px rgba(0, 0, 0, .25), 0 0 0 rgba(0, 0, 0, .25);
    border-radius: 11px;
    width: 75px;
    aspect-ratio: 1;
    text-align: center;
    padding: .1em 0 0;
    z-index: 1;
    cursor: pointer;
    transition: all 0.55s ease-in-out;
}

.custom-button:hover{
    background: linear-gradient(2.65deg, #28282c -24.3%, #303033 154.24%);
    box-shadow: -18px -11px 8px rgba(0, 0, 0, .04), -10px -6px 7px rgba(0, 0, 0, .13), -4px -3px 5px rgba(0, 0, 0, .21), -1px -1px 3px rgba(0, 0, 0, .25), 0 0 0 rgba(0, 0, 0, .25);
    transform: translate(0, -30px);
}

#about{
    background-color: rgb(11, 13, 17);
    background-image: url(https://i.pinimg.com/736x/51/bf/7a/51bf7a4bd9bb22ecd8d9ac1d7fd53856.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#skills{
    
    background-color: rgb(11, 13, 17);
    background-image: url(https://cdn.ipadizate.com/2020/06/macOS-Big-Sur-Vector-Wave-Dark-Wallpaper-iDownloadBlog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.cards{
    animation: floating 5s ease-in-out infinite;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}

.cards-2{
    animation: floating 3s ease-in-out infinite;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.active-card{
    background-color:#64748b ;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.411);
}

.active{
    color: #0aefff !important;
    background: #31436b5d;
    font-size: larger;
    text-shadow: 0.1rem 0.1rem 0.33rem #0aefff;
}

.backdrop-blur-chrome{
    -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #2f4064be;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.39);
}

::-webkit-scrollbar-corner {
    background: rgb(102, 102, 102);
}